@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300|Averia+Serif+Libre:700|Cantata+One|Cardo:700|Cinzel:700|Judson:700|Playfair+Display:700|Stardos+Stencil:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant:800|Noto+Sans+TC:300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

/* Left */
@-webkit-keyframes scrollLeft {
  100%{
    background-position:0px 3000px;
  }
}

@-moz-keyframes scrollLeft{
  100%{
    background-position:0px 3000px;
  }
}

@-o-keyframes scrollLeft{
  100%{
    background-position:0px 3000px;
  }
}

@-ms-keyframes scrollLeft{
  100%{
    background-position:0px 3000px;
  }
}
@keyframes scrollLeft{
  100%{
    background-position:0px 3000px;
  }
}
/* Right */
@-webkit-keyframes scrollRight {
  100%{
    background-position: 3000px 0px;
  }
}

@-moz-keyframes scrollRight{
  100%{
    background-position:3000px 0px;
  }
}

@-o-keyframes scrollRight{
  100%{
    background-position:3000px 0px;
  }
}

@-ms-keyframes scrollRight{
  100%{
    background-position:3000px 0px;
  }
}
@keyframes scrollRight{
  100%{
    background-position:3000px 0px;
  }
}
